# Required: change this to a strong random secret
SECRET_WORD=change-me-to-a-strong-random-secret
# Without trailing slash
BASE_URL='http://localhost:7000'
MAX_SEARCH_RESULTS=20
PORT=7000
SUBX_BASE_URL='https://subx-api.duckdns.org'
# Empty for RAM cache only
CACHE_DIR='./cache'
CACHE_SEARCH_TTL=900
CACHE_DOWNLOAD_TTL=86400
